// ----------------------------
// Colours
// ----------------------------

// Brand Colours
$regalBlue: #004976;
$blueDianne: #1D3E51;
$jellyBean: #2B759A;
$lochmara: #007EBB;
$curiousBlue: #2498D1;

// Standard Colours
$white: #FFFFFF;
$concrete: #F3F3F3;
$black: #000000;
$base-font-color: #6C6C6C;
$dustyGray: #979797;

// Alpha Colors
$dustyGrayAlpha: rgba(151,151,151, 0.2);
