<link type="text/css" rel="stylesheet" href="/sites/component-library/Style%20Library/Golin/_css/screen.css">

	<!--<div id="button-component" class="webpart-display" data-display="button-component"></div>
    <hr />
    <div id="increment-component" class="webpart-display" data-display="increment-component"></div >
    <hr />-->
    <h3>SharePoint Component Library</h3>
    <div id="document-library-component" class="webpart-display" data-display="document-library-component"></div>
 	<hr />
    <div id="filter-component" class="webpart-display" data-display="filter-component"></div>



<script src="/sites/component-library/Style%20Library/Golin/_js/vendor.js"></script>
<script type="text/javascript" src="/sites/component-library/Style%20Library/Golin/_js/app.js"></script>
